@import url('containers/mainContainer.css');
@import url('containers/upperLeftContainer.css');
@import url('containers/upperRightContainer.css');
@import url('containers/bottomLeftContainer.css');
@import url('containers/bottomRightContainer.css');


html{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
