@import url('../tooltip.css');


.bottomRightContainer{
    border: 1px solid cyan;
    display: flex;
    flex-direction: column;
}

.chatDisplay{
    flex: 6;
    background-color: rgb(73, 73, 73);
}
.usertextWrap{
    display: flex;
    align-items:baseline;
    flex-direction: row;
}
.otherUserTextWrap{
    display: flex;
    align-items:baseline;
    flex-direction: row-reverse;
}
.textUserIcon{
    width: 4.375rem;
    height: 4.375rem;
    margin: 0.625rem;
    background-color: white;
    border-radius: 50%;
    border: 0.063rem solid grey;
    cursor: pointer;
    padding: 0.125rem;
}
.userText{
    background-color: black;
    font-size: 1.5rem;
    height:3rem;
    /* width: minmax(min-content,30rem); */
    width:min-content;
    padding-top:1rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
}
.chatInput{
    flex: 1;
    display: flex;
    border: 1px solid cyan;
}

.emojis{
    background-color:rgb(73, 73, 73);
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

#emojis:hover .tooltip {
    opacity: 1;
}
#emojis .tooltip {
    position: relative;
    z-index: 1;
    left: 2.5rem;
    top: 2.4rem;
}
#emojis .tooltip {
    position: relative;
    z-index: 1;
    left: 2.5rem;
    top: 2.4rem;
}
#emojis {
    background: url('../../images/darkmode/download.png');
    background-size: 3.125rem;
    background-position: center;
    background-color: white;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}
.emojiBox{
    margin: 0;
    visibility: hidden;
    text-align: center;
    color: cyan;
    font-size: 1.3rem;
    border-radius: 0.625rem;
    padding: 0.313rem;
    word-wrap: break-word;
    text-align: left;
    height: 20rem;
    width: 20rem;
    display: flex;
    background-color: rgb(54, 54, 54);
    opacity: 100;
    transition: opacity 0.4s;
    position: relative;
    z-index: 1;
    left: 1rem;
    top: -21rem;
    flex-wrap: wrap;
}
.emoji{
    cursor: pointer;
    
}
.textTypingArea{
    background-color: rgb(73, 73, 73);
    flex:6;
    color: rgb(10, 226, 255);
    border: none;
    font-size: 1.563rem;
}

.textTypingArea:focus-visible {
    outline: none;
}

.textTypingArea::placeholder {
    font-size: 150%;
    color: #0594ad;
    text-align: center;
}


.paperAirplane{
    background-color: rgb(73, 73, 73);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}
#paperAirplane:hover {
    background-color: #f5eded;
}

#paperAirplane:hover .tooltip {
    opacity: 1;
}

#paperAirplane .tooltip {
    position: relative;
    z-index: 1;
    left: -3.125rem;
    top: 2.4rem;
}

#paperAirplane {
    background: url('../../images/darkmode/paperAirplane.png');
    background-size: 3.125rem;
    background-position: center;
    background-color: white;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}
